{{/* layouts/partials/pagination.html */}}
{{ $pag  := .Paginator }}
{{ $page := .Page }}

{{ if gt $pag.TotalPages 1 }}
  <nav class="pagination">
    {{ $page.Scratch.Set "hasPrevDots" false }}
    {{ $page.Scratch.Set "hasNextDots" false }}

    {{ range $p := $pag.Pagers }}
      {{ if eq $p $pag }}
        <span class="page-link current">{{ $p.PageNumber }}</span>

      {{ else if or (or (eq $p $pag.First) (eq $p $pag.Prev)) (or (eq $p $pag.Next) (eq $p $pag.Last)) }}
        <a class="page-link" href="{{ $p.URL }}">{{ $p.PageNumber }}</a>

      {{ else }}
        {{ if and (not ($page.Scratch.Get "hasPrevDots")) (lt $p.PageNumber $pag.PageNumber) }}
          {{ $page.Scratch.Set "hasPrevDots" true }}
          <span class="page-link dots">&hellip;</span>

        {{ else if and (not ($page.Scratch.Get "hasNextDots")) (gt $p.PageNumber $pag.PageNumber) }}
          {{ $page.Scratch.Set "hasNextDots" true }}
          <span class="page-link dots">&hellip;</span>
        {{ end }}
      {{ end }}
    {{ end }}
  </nav>
{{ end }}
